<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BarberShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">

        <div class="menu container">
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="views/temática.html"> Temática </a> </li>
                    <li> <a href="views/acercade.html"> Acerca de </a> </li>
                    <li> <a href="views/contacto.html"> Contacto </a> </li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>BarberShop</h1>
                <span>SV</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea saepe
                    quasi delectus pariatur exercitationem architecto voluptatum animi
                    ducimus perspiciatis nam tempora quibusdam sed omnis ad esse eos
                    libero, quo id.
                </p>
                <a href="#" class="btn-1">Informacion</a>
            </div>
            <div class="header-dir">
                <div class="dir">
                    <h3>Dirección</h3>
                    <p>El Salvador</p>
                </div>
                <div class="dir">
                    <h3>Telefono</h3>
                    <p>2626-0000</p>
                </div>
                <div class="dir">
                    <h3>Horario</h3>
                    <p>9:00am a 6:00pm</p>
                </div>
            </div>
        </div>
    </header>

    <section class="welcome">

        <div class="welcome-1"></div>

        <div class="welcome-2">

            <h2>Bienvenidos a BarberShop</h2>

            <p class="b1">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Numquam, accusamus nostrum quisquam mollitia impedit omnis
                incidunt possimus nobis ad velit sunt, non facilis
                perferendis laboriosam iste. Iusto quos magni eveniet!
            </p>

            <a href="#" class="btn-1">Información</a>

        </div>
    </section>

    <main class="services container">
        <div class="services-txt">
            <h2>Acerca de nuestros servicios</h2>
            <hr>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Numquam, accusamus nostrum quisquam mollitia impedit omnis
                incidunt possimus nobis ad velit sunt, non facilis
                perferendis laboriosam iste. Iusto quos magni eveniet!
            </p>
        </div>
        <div class="services-group">
            <div class="services-1">

                <img src="images/i1.svg" alt="">
                <h3>Servicio 1</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="services-1">
                <img src="images/i2.svg" alt="">
                <h3>Servicio 2</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="services-1">

                <img src="images/i3.svg" alt="">
                <h3>Servicio 3</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

        </div>


    </main>
    <section class="prices">
        <div class="prices-1">
            <h2>Lista de precios</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Numquam, accusamus nostrum quisquam mollitia impedit omnis
                incidunt possimus nobis ad velit sunt, non facilis
                perferendis laboriosam iste. Iusto quos magni eveniet!
            </p>
            <table>
                <tbody>
                    <tr>
                        <th>Corte</th>
                        <td>$2.50</td>
                    </tr>
                    <tr>
                        <th>Tinte</th>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <th>A domicilio</th>
                        <td>$4.00</td>
                    </tr>
                </tbody>
            </table>
            <a href="#" class="btn-1">Información</a>
        </div>
        <div class="prices-2"></div>
    </section>
    <section class="personal container">
        <div class="personal-txt">
            <h2>Nuestros Estilistas</h2>
            <hr>
            <p>
                Lorem ipsum dolor sit,
                amet consectetur adipisicing elit.
                Animi adipisci reiciendis beatae voluptatibus
                fugiat facere excepturi omnis voluptates earum
                voluptatum, quas aliquid doloremque est suscipit
                nemo illo cupiditate  eveniet ipsam?
            </p>
        </div>
        <div class="personal-group">
            <div class="personal-1">
                <img src="images/b1.jpg" alt="">
                <h3>Lorem</h3>
                <p>
                    Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="personal-1">
                <img src="images/b2.jpg" alt="">
                <h3>Lorem</h3>
                <p>
                    Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-big">
            <h2>Contactanos</h2>

            <form>
                <label>Nombre Completo:</label>
                <br>
                <input type="text" id="txtNombre" required>
                <br>
                <br>

                <label>Correo:</label>
                <br>
                <input type="email" id="txtCorreo" placeholder="nombre@email.com" required>
                <br>
                <br>

                <label>Teléfono:</label>
                <br>
                <input type="tel" id="txtTelefono" placeholder="0000-0000" required>
                <br>
                <br>

                <label>Sitio web:</label>
                <br>
                <input type="text" id="txtSitio web" required>
                <br>
                <br>

                <label>Asunto:</label>
                <br>
                <select id="slAsunto required">
                    <option value="PRECIODELCORTE">PRECIODELCORTE</option>
                    <option value="SOPORTE">SOPORTE</option>
                    <option value="RECLAMO">RECLAMO</option>

                </select>
                <br>
                <br>

                <label>Mensaje:</label>
                <br>
                <textarea id="txt" rows="3" cols="60" required> </textarea>
                <br>
                <br>

                <button type="submit">Enviar</button>
            </form>
        </div>
        <div class="footer-txt">
            <p>
                Lorem ipsun dolor sit,amet consectetur
            </p>
        </div>
    </footer>
</body>
</html>